
.text-center {
    font-size: 24;
}

h1 {
   text-align: center;
    font-size: 250%;
}

hr {
    background-color: black;  
    height: 2px;
    width: 38%;
   
}

p {
    
text-align: center;
font-size: 80%;
}

input {
    border-radius: 7px;
    
}

.field {
   text-align: center;
    
}

label {
   
}

div {
    
}

div {
    
}

