.projectBrand{
    font-family: 'TomsHandwritten';
    font-size: 76px;
}
.eventImage{
    height: 150px !important;
}
.eventTitle{
    overflow: hidden;
    text-overflow: ellipsis;
}
.rightFilters {
    border-left: 1px solid black;
}

/*Убирает выбор столетий в datePicker*/
.bootstrap-datetimepicker-widget .datepicker-years thead .picker-switch {
    cursor: default;
    pointer-events: none;
}